{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <link href="{% static 'css/comment/comment.css' %}" rel="stylesheet">
    {#    <link href="{% static 'css/comment/style.css' %}" rel="stylesheet">#}
{% endblock %}
{% block container %}
    <div class="container">

        <div class="blog-header">
            <h1>{{ article_obj.title }}</h1>
            <p class="lead blog-description">{{ article_obj.detail.content|safe }}</p>


            <div class="commentAll">

                <div class="reviewArea clearfix">
                    <div class="flex-text-wrap">
                        <textarea class="content comment-input" placeholder="Please enter a comment…"></textarea></div>
                    <a href="javascript:;" id='comment' class="plBtn">评论</a>
                </div>


                <div class="comment-show">
                    {% for comment in article_obj.comment_set.all %}
                        <div class="comment-show-con clearfix">
                            <div class="comment-show-con-img pull-left">
                                <img src="{{ comment.author.avatar.url }}" alt="">
                            </div>
                            <div class="comment-show-con-list pull-left clearfix">
                                <div class="pl-text clearfix">
                                    <a href="#" class="comment-size-name">{{ comment.author.username }} : </a>
                                    <span class="my-pl-con">&nbsp;{{ comment.content }}</span>
                                </div>
                                <div class="date-dz">
                                    <span class="date-dz-left pull-left comment-time">{{ comment.time }}</span>
                                    <div class="date-dz-right pull-right comment-pl-block">
                                        <a href="javascript:;" class="removeBlock">删除</a>
                                    </div>
                                </div>
                                <div class="hf-list-con"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>


    </div><!-- /.container -->



{% endblock %}

{% block script %}
    <script type="text/javascript">

        $(function () {

            $("#comment").click(function () {
                var content = $('.comment-input').val();
                var article_id = {{ article_obj.pk }};
                var author_id = {{ request.my_user.pk }};
                var author_name = '{{ request.my_user.username }}';
                var author_avatar = '{{ request.my_user.avatar.url }}';
                $.ajax({
                    url: '/comment/',
                    data: {
                        content: content,
                        article_id: article_id,
                        author_id: author_id,
                    },
                    success: (res) => {
                        if (res.status) {
                            // 评论插入到数据库成功了
                            $('.comment-show').append(`<div class="comment-show-con clearfix">
                                <div class="comment-show-con-img pull-left">
                                    <img src="${author_avatar}" alt="">
                                </div>
                                <div class="comment-show-con-list pull-left clearfix">
                                    <div class="pl-text clearfix">
                                        <a href="#" class="comment-size-name">${author_name} : </a>
                                        <span class="my-pl-con">${content}</span>
                                    </div>
                                    <div class="date-dz">
                                        <span class="date-dz-left pull-left comment-time">${res.time}</span>
                                        <div class="date-dz-right pull-right comment-pl-block">
                                            <a href="javascript:;" class="removeBlock">删除</a>
                                        </div>
                                    </div>
                                    <div class="hf-list-con"></div>
                                </div>
                            </div>`)

                            $('.comment-input').val('')
                            alert('评论成功')
                        }
                    }

                })

            })
        })

    </script>

{% endblock %}
