<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>登陆丨KP</title>
{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
<div class="login-container">
    <h1>KP</h1>
    <div class="connect">
        <p>注册</p>
    </div>

    <form action="" method="post" id="loginForm" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form_obj %}
            <div class="form-group">

                {{ field }}
                <span style="color: red">{{ field.errors.0 }}</span>
            </div>
        {% endfor %}
        <button id="submit" type="submit">注册</button>
    </form>
    <a href="{% url 'login' %}">
        <button type="button" class="register-tis">已有账号？</button>
    </a>
</div>
</body>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/supersized.3.2.7.min.js' %}"></script>
<script>

    jQuery(function ($) {
        $.supersized({
            slide_interval: 4000,
            transition: 1,
            transition_speed: 1000,
            performance: 1,
            min_width: 0,
            min_height: 0,
            vertical_center: 1,
            horizontal_center: 1,
            fit_always: 0,
            fit_portrait: 1,
            fit_landscape: 0,
            slide_links: 'blank',
            slides: [{image: '{% static 'images/1.jpg' %}'}, {image: '{% static 'images/2.jpg' %}'}, {image: '{% static 'images/3.jpg' %}'}]
        });
    });

</script>


{#<script src="{% static 'js/jquery.validate.min.js' %}"></script>#}


</html>